.main-news {
    margin: 90px 8px 0 8px;
}

.main-more {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 12px;
}

.main-title {
    font-size: 54px;
    font-weight: 600;
    border-bottom: 1px solid #D4D4D4;
    line-height: 59.4px;
    padding-bottom: 8px;
    margin-bottom: 32px;
}

.main-topic-img {
    position: relative;
    width: 100%;
    height: 416px;
    object-fit: cover;
    background: url(../../img/main_img.png) no-repeat center center;
    margin-bottom: 16px;
}

.main-topic-img::before {
    position: absolute;
    content: "poland";
    bottom: 0px;
    left: 0px;
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    background: #FFF;
    padding: 10px 20px 10px 0px;
    
}

.main-topic-descr {
    font-size: 24px;
    font-weight: 800;
    line-height: 26.4px;
    margin-bottom: 32px;
}

.news-conatainer{
    border-bottom: 1px solid #D4D4D4;
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.news-conatainer:nth-child(3) {
    padding-bottom: 32px;
    margin-bottom: 32px;
}

.news__img{
    position: relative;
    width: 100%;
    object-fit: cover;
}


.news-img-container {
    position: relative;
    width: 100%;
    margin: 14px;
}

.news-conatainer:nth-child(2) .news-img-container::before {
    content: url(../../img/icons/play.svg);
    position: absolute;
    width: 32px;
    height: 32px;
    z-index: 5;
    bottom: 10px;
    right: 10px;
}

.news-descr__location {
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.5px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.news-descr__location.black_color {
    color: #1A1B1B;
}

.news-descr__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
}

@media (min-width: 768px) {

    .main-news {
        margin: 91px 0 0 0;
    }
    .main-more {
        font-size: 22px;
    }

    .main-title {
        font-size: 62px;
    }

    .main-topic-descr {
        font-size: 28px;
    }

    .news-conatainer {
        display: flex;
        gap: 24px;
    }

    .news__img {
        width: 296px;
        
    }

    .news-img-container{
        width: 296px;
        margin-bottom: 0;
    }

    .news-conatainer {
        padding-bottom: 16px;
        margin-bottom: 16px;
    }

    .news-conatainer:nth-child(3) {
        padding-bottom: 56px;
        margin-bottom: 32px;
    }

    .news-descr__location {
        margin-top: 10px;
    }
}

@media (min-width: 1368px) {
    .wrapper {
        display: flex;
        gap: 24px;
    }

    .main-news{
    margin-bottom: 56px;
    }

    .main-title {
        margin-top: 20px;
    }

    .main-topic-descr {
        margin-bottom: 56px;
        line-height: 30.8px;
    }

    .main-news-container{
        border-bottom: 1px solid #D4D4D4;
    }


    .news-conatainer:nth-child(3) {
        border-bottom: none;
        padding: 0;
        margin: 0;
    }

    .news__img {
        width: 196px;
        height: 110px;
    }

    .news-img-container{
        width: 196px;
    }

    .news-conatainer {
        padding-bottom: 32px;
        margin-bottom: 32px;
        width: 526px;
    }
} 