.more-topics {
    margin: 0 8px 0 8px;
}

.more-topics__title {
    font-size: 34px;
    font-weight: 800;
    line-height: 37.4px;
    margin-bottom: 32px;
}

.more-topics__item-img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.more-topics__item-img-container{
    position: relative;
    margin-bottom: 18px;
}

.more-topics__item:nth-child(6) .more-topics__item-img-container::before {
    content: url(../../img/icons/play.svg);
    position: absolute;
    width: 32px;
    height: 32px;
    z-index: 5;
    bottom: 10px;
    right: 10px;
}

.more-topics__item-category {
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.6px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.more-topics__item-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    margin-bottom: 10px;
}

.more-topics__item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    margin-bottom: 10px;
}

.more-topics__item-date {
    font-size: 14px;
    font-weight: 200;
    line-height: 16.8px;
}

.more-topics__items {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 42px;
}



.more-topics__pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 42px;
}

.more-topics__pages-btn {
    color: #006CE5;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    line-height: 16.8px;
    border: 1px solid #D4D4D4;
    border-radius: 50%;
    background: none;
    padding: 10px;
    height: 37px;
    width: 37px;
    cursor: pointer;
}

.more-topics__pages-btn.active {
    color: #1A1B1B;
    cursor: default;
}

.more-topics__pages-btn:nth-child(4) {
    border: none;
    padding: 0;
    width: 4px;
}

.more-topics__pages-btn-next {
    display: none;
}

@media (min-width: 768px) {

    .more-topics {
        margin: 0;
    }
    .more-topics__title {
        font-size: 42px;
    }

    .more-topics__item {
        display: flex;
        gap: 24px;
    }

    .more-topics__item-img {
        width: 296px;
    }

    .more-topics__item-descr {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .more-topics__pages-btn-next {
        display: block;
        color: #006CE5;
        text-align: center;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
    }

    .more-topics__pages-btn:nth-child(4) {
        display: flex;
        align-items: center;
        gap: 8px;
        width: fit-content;
    }
}

@media (min-width: 1368px) {
    .more-topics-container {
        display: flex;
        gap: 36px;
    }

    .more-topics__item-descr {
        width: 526px;
    }
} 